* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    background-color: rgb(183, 140, 231);
    color: #222;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
}

/* Título */
h1 {
    text-transform: uppercase;
    opacity: 0.85;
    color: #d946f780;
    border: 4px solid #d493e0;
    border-radius: 1.8rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Container central */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    padding: 30px 40px;
    border-radius: 16px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: scale(1.02);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
}

/* Campo de entrada */
input {
    border: none;
    text-align: center;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background-color: rgb(187, 159, 186);
    font-size: 1rem;
    width: 300%;
    max-width: 300px;
    transition: 0.3s;
    cursor: pointer;
}

input:focus {
    background-color: rgb(190, 134, 255);
    box-shadow: 0 0 6px rgba(215, 192, 231, 0.6);
}

/* Botão */
#bnt {
    padding: 0.7rem 1.5rem;
    margin-top: 0.8rem;
    border-radius: 1.2rem;
    border: none;
    background-color: rgb(199, 180, 199);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#bnt:hover {
    background-color: rgb(190, 104, 224);
    transform: scale(1.05);
}

/* Resultado */
#resul {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #e0abff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    padding: 10px 20px;
    box-shadow: inset 0 0 8px rgba(253, 209, 255, 0.1);
    width: fit-content;
}